<div class="container-md">
    <!--Fila 1-->
    <div class="row">
        <div class="col">
            <app-ficha pos=0></app-ficha>
        </div>
        <div class="col">
            <app-ficha pos='1'></app-ficha>

        </div>
        <div class="col">
            <app-ficha pos='2'></app-ficha>

        </div>
    </div>
    <!--Fila 2-->

    <div class="row">
        <div class="col">
            <app-ficha pos='3'></app-ficha>

        </div>
        <div class="col">
            <app-ficha pos='4'></app-ficha>

        </div>
        <div class="col">
            <app-ficha pos='5'></app-ficha>

        </div>
    </div>

    <!--Fila 3-->


    <div class="row">
        <div class="col">
            <app-ficha  pos='6'></app-ficha>

        </div>
        <div class="col">
            <app-ficha  pos='7'></app-ficha>

        </div>
        <div class="col">
            <app-ficha  pos='8'></app-ficha>

        </div>
    </div>

</div>

<br>

<button type="button" class="btn btn-danger">Reset</button>
